BasedOnStyle:  GNU
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
# Uncommenting these lines will sometimes result in lines following an
# if(){} or for(){} block being attached to the end of the block.
# AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  IndentBraces:    true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language:        Cpp
Standard:        Cpp11
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: true
SpacesInContainerLiterals: true
UseTab: Always
IndentWidth: 4
TabWidth: 4

AlignConsecutiveAssignments: Consecutive
AlignAfterOpenBracket: AlwaysBreak
ConstructorInitializerIndentWidth: 2

BreakBeforeBraces: Allman
RemoveBracesLLVM: false
IndentCaseLabels: false
