[submodule "ext/libriscv"]
	path = ext/libriscv
	url = https://github.com/fwsGonzo/libriscv.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "micro/ext/EASTL"]
	path = micro/ext/EASTL
	url = https://github.com/fwsGonzo/EASTL.git
[submodule "micro/ext/frozen"]
	path = micro/ext/frozen
	url = https://github.com/serge-sans-paille/frozen.git
[submodule "micro/ext/strf"]
	path = micro/ext/strf
	url = https://github.com/robhz786/strf.git
